/* Ironically, this site does not currently utilize CSS Grid */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, /* code ,*/
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

body {
    display: grid;
    grid-template-columns: minmax(250px, 25%) 1fr;
    grid-template-rows: auto 2em;
    grid-template-areas: 
        "nav main"
        "nav footer";
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color:  	#7FFF00;
    background-color: black;  /* Nicer black */
    height: 100vh;
}

#main-doc {
    grid-area: main;
    padding: 0 20px 0 20px;
    overflow: auto;
}


code {
    display: block;
    padding: 15px 15px;
    line-height: 1.5em;
    margin: 20px 0;
    width: 40%;
    min-width: 250px;
    border: 1px dashed #7FFF00;
    color: #7FFF00;
}

h2 {
    font-style: italic;
    padding: 15px 0;
    font-size: calc(10px + 1vmax);
    font-weight: 600;
}

h3 {
    font-style: italic;
    padding-bottom: 10px;
}

em {
    font-style: italic;
}

p {
    padding-bottom: 10px;
    line-height: 1.2em;
}

.highlight {
    padding: 0 3px;
    font-weight: 600;
    border: 1px dotted #7FFF00;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NAV BAR */

#navbar {
    grid-area: nav;
    display: grid;
    grid-template-rows: repeat(9, 3em);
    border-right: dashed 2px;
    align-items: stretch;
    overflow: auto;
    /* position: fixed; */
}

#navbar a {
    display: grid;
    align-items: center;
}


@media (max-width: 700px) {
    
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 25% auto 2em;
        grid-template-areas: 
            "nav"
            "main"
            "footer"
    }

    #navbar {
        border-right: none;
    }


}

/* #navbar {
    display: grid;
} */

#navbarHeader {
    /* display: flex;
    align-items: center;
    height: 60px; */
    border-bottom: dashed 1px #7FFF00;
    font-size: calc(15px + 0.5vmax);
    font-weight: bold;
}

.mainHeader {
    padding: 25px 0;
    font-weight: bold;
    font-size: 30px;
}

.nav-link {
    /* display: flex; */
    /* height: 50px; */
    /* flex-direction: row;
    align-items: center; */
    border-bottom: dashed 1px #7FFF00;
}

.nav-link:hover {
    background-color: #7FFF00;
    color: black;
    font-weight: 600;
}

/* No border at bottom of document */
section:last-child {
    border-bottom: none;
}

/* Images */

#gridCellImage {
    min-height: 100px;
}

.main-section a {
    text-decoration: underline;
}

.main-section a:hover {
    color: white;
}

ul {
    list-style: circle;
    list-style-position: inside;
    padding: 1em 0;
}

#attribution {
    /* display: flex; */
    /* width: 100%; */
    border-top: 1px dashed #7FFF00;
    /* height: 2em; */
    /* align-items: center; */
    /* justify-content: center; */
    border-bottom: solid 1px #7FFF00;
}